<h1>My list of books and movies I own</h1>
<p>Hey. This is an app that lists the various media I own. It's cool. You're so jealous, I know.</p>
<h2>Books</h2>{% for b in books %}
<p><a href="{{ b.get_absolute_url }}">{{ b.title }} by {{ b.author }}</a></p>{% endfor %}
<br />
<h2>Movies</h2>
{% for m in movies %}
<p><a href="{{m.get_absolute_url }}">{{ m.title }}</a></p>{% endfor %}
<br />
<h3><a href="/catalogue/currently-reading/">Currently Reading</a></h3>
<p><i>An <a href="http://www.andymboyle.com">Andy Boyle Production</a></i></p>