<h1>{{ movie.title }}</h1>
<p>{% if movie.is_loaned %}Loaned to: {{ movie.loaned_to.name }}{% endif %}</p>
<p>{% if movie.have_watched %}Watched on {{ movie.when_watched }}{% endif %}</p>
<p>{% if movie.length %}Length: {{ movie.length }} minutes{% endif %}</p>
<p>{% if movie.bought_for %}Bought for ${{ movie.bought_for }}{% endif %}</p>
<p><a href="/catalogue/">Return to the index</a></p>
<br />
<h3><a href="/catalogue/currently-reading/">Currently Reading</a> | <a href="/catalogue/">Home</a></h3>
<p><i>An <a href="http://www.andymboyle.com">Andy Boyle Production</a></i></p>